.notes {
    .note-entry {
        cursor: pointer;
        display: inline-block;
        background: transparent;
        width: 100%;
        border: none;
        word-wrap: break-word; 
    }
    .content {
        padding: 0.3em;
    }
    .row {
        margin-right: 0;
        margin-left: 0;
    }
    .note-content {
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;
        height: 6em;
        overflow-y: scroll;
        
    }
    textarea {
        width: 100%;
        height: 100%;
        border: none;
        &:focus {
            outline: none;
        }
    }
}

