<div class="container-fluid notes">
    <div class="row">
        
    </div>
    <div class="col-md-12">
        <div>
            <div class="header">
                <div class="row-fluid card-content">
                    <div class="col-md-8">
                        <input #newNoteName class="form-control border-input" [(ngModel)]="name" (keyup.enter)="addNote(newNoteName.value); newNoteName.value = ''"
                            placeholder="Enter note title">
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary" (click)="addNote(newNoteName.value); newNoteName.value = ''">Add Note</button>
                        <!--<button class="btn btn-info" (click)="deleteAllNotes()">Delete All</button>-->
                    </div>
                </div>
                <div class="row">
                    <h5>There are {{notes.length}} notes.</h5>
                </div>
            </div>
            <div *ngFor="let note of notes" class="col-md-6">
                <div class="card">
                    <div class="content">
                        <div class="row note-content">
                            <pre class="note-entry" (click)="noteClicked(note)" *ngIf="editedNoteId != note.id">{{ note.name }}</pre>
                            <textarea autofocus #nameInput type="text" *ngIf="editedNoteId == note.id" [value]="note.name" (keyup.enter)="changeNoteName(note, nameInput.value)"></textarea>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-calendar"></i> {{ getUser(note) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="content table-responsive table-full-width">
                <table class="table">
                    <thead>
                        <th>Title</th>
                        <th>User</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let note of notes">
                            <td>
                                <span class="note-entry" (click)="noteClicked(note)" *ngIf="editedNoteId != note.id">{{ note.name }}</span>
                                <input autofocus #nameInput type="text" *ngIf="editedNoteId == note.id" [value]="note.name" (keyup.enter)="changeNoteName(note, nameInput.value)">
                            </td>
                            <td *ngIf="note.userId">{{ getUser(note)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>-->
        </div>
    </div>

    <!--<div class="col-md-3" *ngFor="let note of notes">
            <div class="note">
                <b>{{note.name}}</b> <br> {{note.content}} <br> {{ getUser(note) }}
            </div>
        </div>-->


</div>