<div class="wrapper">
  <div class="sidebar" data-background-color="white" data-active-color="danger">
    <div class="sidebar-wrapper">
      <div class="logo">
        <a class="simple-text">
            VendR
        </a>
      </div>

      <ul class="nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="ti-bar-chart-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/inventory" routerLinkActive="active">
            <i class="ti-view-list"></i>
            <p>Inventory</p>
          </a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/vendors" routerLinkActive="active">
            <i class="ti-layout-grid3"></i>
            <p>Vendors</p>
          </a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/settings" routerLinkActive="active">
            <i class="ti-settings"></i>
            <p>Settings</p>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="main-panel">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
          <a class="navbar-brand" href="#"></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="nav-link" routerLink="/settings" routerLinkActive="active">
                <i class="ti-user"></i>
                <p>{{activeUserName}}</p>
              </a>
            </li>
            <li>
              <a class="nav-link" (click)="logout()">
                <i class="ti-power-off"></i>
                <p>Log out</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="content">
      <!--<div class="container-fluid">-->
        <router-outlet></router-outlet>
      <!--</div>-->
    </div>


    <footer class="footer">
      <div class="container-fluid">
        <nav class="pull-left">
          <ul>

            <li>
              <a href="#">
                                Home
                            </a>
            </li>
          </ul>
        </nav>
        <div class="copyright pull-right">

        </div>
      </div>
    </footer>

  </div>
</div>