
<div class="col-md-6">
    <div class="card">
        <div class="content">
            <h3><i class="ti-user"></i> User Settings</h3>
            <form (ngSubmit)="onSubmit()" #profileForm="ngForm">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control border-input" [(ngModel)]="user.firstName" name="firstName" required #firstName="ngModel">
                </div>
                <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger ">
                    Name is required
                </div>
                <div class="form-group ">
                    <label for="lastName ">Last Name</label>
                    <input type="text " class="form-control border-input " [(ngModel)]="user.lastName " name="lastName " required>
                </div>

                <button class="btn btn-default " [disabled]="! profileForm.form.dirty" type="submit ">Submit</button>
            </form>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="card">
        <div class="content">
            <h3>Account Settings</h3>
        </div>
    </div>
</div>
