<!--<div class="login-page">
    <div class="login jumbotron center-block col-md-5">
        <h1>Login</h1>
        <form role="form" (submit)="login($event, username.value, password.value)">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" #username class="form-control" id="username" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" #password class="form-control" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            <a [routerLink]="['/signup']">Click here to Signup</a>
        </form>
    </div>
</div>-->
<div class="register-background">
    <div class="filter-black"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 ">

                <div class="register-card">
                    <h3 class="title">Welcome</h3>
                    <form role="form" (submit)="login($event, username.value, password.value)">
                        <div class="from-group">
                            <label for="username">Username</label>
                            <input type="text" #username class="form-control" id="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" #password class="form-control" id="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-danger btn-block">Submit</button>
                    </form>
                    <div class="forgot">
                        <a href="#" class="btn btn-simple btn-danger">Forgot password?</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer register-footer text-center">
        
    </div>
</div>